.formation {
  overflow-y: hidden;
}
.experience {
  h2 {
    letter-spacing: 0.3rem;
  }
  p {
    padding-bottom: 3.5rem;
    letter-spacing: 0.3rem;
  }
}

// timeline

.timeline-container {
  p {
    font-weight: 300;
    line-height: 1.6;
    font-size: 1.5rem;
    letter-spacing: 0.2rem;
    opacity: 0.8;
  }
}
.timeline {
  position: relative;
  padding-left: 4rem;
  margin: 0 0 0 30px;
  color: white;
  overflow: visible;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 4px;
    height: 100%;
    background: #444;
  }
  .timeline-container {
    position: relative;
    margin-bottom: 2.5rem;
    .timeline-icon {
      position: absolute;
      left: -88px;
      top: 4px;
      width: 50px;
      height: 50px;
      border-radius: 50%;
      text-align: center;
      font-size: 2rem;
      background: #444;
      i {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
      }
      img {
        width: 100%;
        height: 100%;
        border-radius: 50%;
      }
    }
    .timeline-body {
      background: #444;
      padding: 2rem 2rem 1.5rem;
      &:before {
        content: "";
        background: inherit;
        width: 20px;
        height: 20px;
        display: block;
        position: absolute;
        left: -10px;
        transform: rotate(45deg);
        border-radius: 0 0 0 2px;
      }
      .timeline-title {
        margin-bottom: 1.4rem;
        .badge {
          background: #333;
          padding: 4px 8px;
          border-radius: 3px;
          font-size: 1.2rem;
          font-weight: bold;
        }
      }
      .timeline-subtitle {
        font-weight: 300;
        font-style: italic;
        opacity: 0.4;
        margin-top: 16px;
        font-size: 11px;
      }
    }
  }
}
