.container {
  display: flex;
  padding-top: 3rem;
  flex-wrap: wrap;
  justify-content: center;
  margin-block: 2rem;
  gap: 2rem;
  img {
    border-radius: 1rem;
    max-width: 100%;
    display: block;
  }
}

.card {
  display: flex;
  flex-direction: column;
  width: 30rem;
  box-shadow: 0 0.1rem 1rem rgba(0, 0, 0, 0.5);
  background-color: #444;
  border-radius: 1rem;
}

.card-body {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.card-body h4 {
  font-size: 1.5rem;
}
