.about {
  p {
    padding-top: 2rem;
    text-align: center;
  }
}

.techno {
  padding: 3.5rem 0;
  .techno-elements {
    padding-top: 2rem;
    margin: 0 5rem;
    justify-content: center;
    text-align: center;
    font-size: 5rem;
    display: grid;
    grid-template-columns: repeat(2, 200px);
    grid-template-rows: repeat(2, 200px);
    gap: 25px;
    i {
      margin: 1rem;
    }
  }
  .techno-element {
    border: 1px transparent;
    border-radius: 35px;
    box-shadow: -29px -29px 58px #212121, 29px 29px 58px #454545;
  }
  p {
    margin: 3rem;
    text-align: center;
  }
}

.blog {
  display: inline-block;
  padding: 5rem 0;
  img {
    float: left;
  }
  p {
    padding: 4rem;
    display: flex;
  }
  a {
    display: inline;
    align-content: center;
    letter-spacing: 1.5px;
    width: 125px;
    text-align: center;
    margin: 3rem;
    padding: 2rem;
    border-radius: 35px;
    color: white;
  }
}

.journal {
  padding-top: 5rem;
}

.contact {
  padding-top: 5rem;
}
.contact-title {
  display: flex;
  ul {
    flex: 1;
    padding-top: 7rem;
    text-align: center;
    li {
      padding-top: 3rem;
      align-content: center;
    }
  }
  img {
    flex: 2;
    height: 400px;
    max-width: 800px;
  }
}
