.btn {
  display: inline-block;
  text-align: center;
  margin: 2rem;
  padding: 1.5rem;
  color: white;
  width: 95px;
  border: 1px transparent;
  border-radius: 30px;
  &:hover {
    text-decoration: underline;
    background-color: #444;
  }
}

.reveal-loaded .reveal [class*="reveal-"] {
  opacity: 0 !important;
  transform: translateX(100px);
  transition: 1s !important;
}

.reveal-loaded [class*="reveal-"] {
  transition: 2s cubic-bezier(0.5, 0, 0, 1);
}

.reveal-loaded .reveal-2 {
  transition-delay: 0.1s;
}

.reveal-loaded .reveal-3 {
  transition-delay: 0.2s;
}

.reveal-loaded .reveal-4 {
  transition-delay: 0.5s;
}
