@import "variables";
@import "reset";
@import "classes";
@import "media-queries";
@import "utils";
@import "base";

.grid-container {
  display: grid;

  grid:
    "aside header"
    "aside main"
    "aside footer";
  @include xs {
    grid:
      "header"
      "aside"
      "main"
      "footer";
  }
}

header {
  grid-area: header;
  display: flex;
  flex-direction: column-reverse;
  padding-bottom: 13rem;
  height: 600px;
  font-family: var(--font1);
  @include xs {
    text-align: center;
  }
  .intro {
    margin-left: 2rem;
    position: relative;
    h1 {
      display: inline-block;
      font-size: 6rem;
      line-height: 7rem;
      font-weight: 400;
      letter-spacing: 2.2rem;
      color: #f0f0f0;
      position: relative;
      background-image: linear-gradient(to right, #999, #fff);
      background-clip: text;
      -webkit-background-clip: text;
      color: transparent;
      &::after {
        content: "";
        position: absolute;
        display: block;
        height: 100%;
        width: 3px;
        background: #ebebeb;
        right: -10px;
        top: 0;
        animation: carret 1s infinite;
      }
      @include xs {
        font-size: 3rem;
      }
    }
    .subtitle {
      color: #f1f1f1;
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.5rem;
      margin-top: 10px;
      opacity: 0;
      &.active {
        transition: opacity 2s ease-out;
        opacity: 1;
      }
    }
    p {
      font-size: 2rem;
      font-weight: 400;
      letter-spacing: 0.5rem;
    }
  }
}

aside {
  grid-area: aside;
  border-right: 1px solid var(--color1);
  padding: 2rem;
  width: 25rem;
  font-family: var(--font1);
  text-align: center;
  @include xs {
    margin: 0 8rem 0 8rem;
    border: none;
  }
  .menu {
    padding-left: 1rem;
    position: fixed;
    @include xs {
      position: static;
    }
    .menu-container {
      padding-bottom: 25rem;
      text-align: center;
      @include xs {
        display: none;
      }
    }
    .list {
      font-size: 2.5rem;
      @include xs {
        text-align: center;
        width: auto;
      }
      li {
        color: var(--color1);
        margin-top: 2rem;
      }
      li:hover {
        transform: scale(1.2);
      }
    }
  }
}

.learn {
  padding-top: 5rem;
  @include xs {
    display: none;
  }
  i {
    font-size: 5rem;
  }
  .learn-list {
    padding-top: 3rem;
    li {
      margin-top: 1.5rem;
    }
  }
}

.social-list {
  display: flex;
  padding-top: 10rem;
  @include xs {
    display: none;
  }
  li {
    text-align: center;
  }
  a {
    font-size: 2.2rem;
    padding-left: 1.5rem;
    margin: 1rem;
  }
}

main {
  grid-area: main;
  padding: 2rem;
  font-family: var(--font1);
  overflow: hidden;
  @include xs {
    display: flex;
    flex-direction: column;
    text-align: center;
    img {
      display: none;
    }
  }
  h2 {
    margin-bottom: 2rem;
  }
  p {
    letter-spacing: 0.1rem;
    line-height: 3rem;
  }
}

footer {
  grid-area: footer;
  border-top: 1px solid;
  padding: 6rem;
  text-align: center;
}
